html {
  font-size: 62.5%;
  min-height: 100%;
  min-width: 250px;
  position: relative;
}
@media (min-width: 1024px) {
  html {
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
a:active {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
@media (hover: hover) {
  a:hover {
    opacity: 0.5;
  }
}

button, input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.l-body {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: "Roboto", sans-serif, "M PLUS 1p";
  box-sizing: border-box;
}
.l-body.is-fix {
  overflow: hidden;
}
.l-body.is-fix::before {
  content: "";
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  top: 0%;
  transition: all 300ms 0.1s ease-out;
  overflow-y: auto;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  left: 0%;
}

.sticky {
  display: block;
}

.gallery-caption {
  font-size: 87.5%;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.bypostauthor {
  color: #3C2A10;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wp-caption-text {
  margin-top: -20px;
}

main {
  font-family: "Roboto", sans-serif, "M PLUS 1p";
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
}
main h2 {
  font-size: 2.8rem;
}
@media (min-width: 768px) {
  main h2 {
    font-size: 3.6rem;
  }
}
main h3 {
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  main h3 {
    font-size: 2.8rem;
  }
}
main h4, main h5, main h6 {
  font-size: 2rem;
}
main ol {
  list-style: decimal inside;
}
main .wp-block-group, main .wp-block-group__inner-container {
  height: auto;
  width: auto;
  display: block;
}
main .wp-block-group.has-background > :first-child, main .has-background.wp-block-group__inner-container > :first-child {
  padding: 0 3%;
}
main .wp-block-group.has-background a, main .has-background.wp-block-group__inner-container a,
main .wp-block-group.has-background a:hover, main .wp-block-group.has-background a:visited {
  color: revert;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
main .wp-block-image {
  height: auto;
  width: auto;
  display: block;
}
main .wp-block-image img {
  height: auto;
  width: auto;
  display: block;
}
main .wp-block-columns .wp-block-column :nth-child(2) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  main .wp-block-columns .wp-block-column {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  main .wp-block-columns .wp-block-column {
    width: 33%;
  }
}
main .wp-block-gallery.wp-block-gallery-1 {
  height: auto;
  width: auto;
  display: grid;
  margin-inline: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
}
main .wp-block-gallery.wp-block-gallery-1 figure {
  height: 100%;
  width: 100%;
  min-width: 100%;
}
main .wp-block-gallery.wp-block-gallery-1 figure img {
  height: 100%;
  width: 100%;
  aspect-ratio: 336.11/230.53;
}
@media (min-width: 768px) {
  main .wp-block-gallery.wp-block-gallery-1 figure img {
    aspect-ratio: 378.28/354.5;
  }
}
@media (min-width: 1024px) {
  main .wp-block-gallery.wp-block-gallery-1 figure img {
    aspect-ratio: 677/471;
  }
}
@media (min-width: 768px) {
  main .wp-block-gallery.wp-block-gallery-1 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    -moz-column-gap: 1.6rem;
         column-gap: 1.6rem;
  }
}
@media (min-width: 1024px) {
  main .wp-block-gallery.wp-block-gallery-1 {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
main .wp-block-list {
  padding-left: 5rem;
}
main .wp-block-list:not(:last-of-type) {
  margin-bottom: 1.7rem;
}
main .wp-block-list:not(:last-of-type) :last-child {
  margin-bottom: 0;
}
main .wp-block-list ol, main .wp-block-list ul {
  padding-left: 1.8rem;
}
main .wp-block-list ol li:first-child, main .wp-block-list ul li:first-child {
  margin-top: 1.7rem;
}
main .wp-block-list ol li:last-child, main .wp-block-list ul li:last-child {
  margin-bottom: 1.7rem;
}
main .wp-block-code {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem;
  font-size: 2rem;
  font-family: initial;
  border: none;
}
main .wp-block-quote {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F5F5F5;
  padding: 3rem 5.9% 3rem 5.9%;
  border: none;
}
@media (min-width: 768px) {
  main .wp-block-quote {
    padding: 5rem 7% 5rem 7%;
  }
}
@media (min-width: 1024px) {
  main .wp-block-quote {
    padding: 5rem 6.4% 5rem 6.4%;
  }
}
main .wp-block-quote cite {
  margin-top: 1rem;
  font-size: revert;
}
@media (min-width: 768px) {
  main .wp-block-quote cite {
    margin-top: 5rem;
  }
}
main .wp-block-quote a,
main .wp-block-quote a:hover, main .wp-block-quote a:visited {
  color: revert;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
main .wp-block-table tbody {
  font-size: initial;
}
main .wp-block-table tr {
  height: 7.7rem;
  width: 100%;
  position: relative;
  table-layout: fixed;
  border: solid 1px #707070;
}
main .wp-block-table td {
  border: solid 1px #707070;
}
main .wp-block-table td:first-child, main .wp-block-table td:last-child {
  height: auto;
  position: relative;
  padding-left: 6%;
}
@media (min-width: 768px) {
  main .wp-block-table td:first-child, main .wp-block-table td:last-child {
    padding-left: 3%;
  }
}
main .wp-block-table td:first-child {
  width: 42%;
  text-align: left;
}
main .wp-block-table td:last-child {
  width: 58%;
}
main .wp-block-buttons {
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  main .wp-block-buttons {
    height: 10.4rem;
    width: 60%;
  }
}
@media (min-width: 1024px) {
  main .wp-block-buttons {
    width: 42%;
  }
}
main .wp-block-buttons .wp-block-button {
  height: 8.1rem;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  border: 1px solid;
}
@media (min-width: 768px) {
  main .wp-block-buttons .wp-block-button {
    height: 10.4rem;
    width: 60%;
  }
}
@media (min-width: 1024px) {
  main .wp-block-buttons .wp-block-button {
    width: 42%;
  }
}
main .wp-block-buttons a,
main .wp-block-buttons a * {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
main .wp-pagenavi {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  main .wp-pagenavi {
    height: auto;
    width: auto;
  }
}
main .wp-pagenavi span.pages {
  display: none;
}
@media (min-width: 768px) {
  main .wp-pagenavi span.pages {
    height: auto;
    width: auto;
    display: flex;
    font-size: 1.6rem;
    border: none;
    justify-content: center;
  }
}
main .wp-pagenavi span.pages:first-child {
  padding-right: 15px;
}
@media (min-width: 768px) {
  main .wp-pagenavi span.pages:first-child {
    color: inherit;
  }
}
main .wp-pagenavi span.extend {
  display: none;
}
main .wp-pagenavi .previouspostslink {
  width: 10rem;
  height: 3.5rem;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  main .wp-pagenavi .previouspostslink {
    width: 3.5rem;
    font-size: 0;
    margin-right: 15px;
  }
}
main .wp-pagenavi .previouspostslink::before {
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block;
  position: absolute;
  background: url(../images/pagearrow__left.png) no-repeat center center;
  margin-right: 15px;
  left: -12px;
}
@media (min-width: 768px) {
  main .wp-pagenavi .previouspostslink::before {
    left: 7px;
  }
}
main .wp-pagenavi .nextpostslink {
  width: 10rem;
  height: 3.5rem;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  main .wp-pagenavi .nextpostslink {
    width: 3.5rem;
    font-size: 0;
  }
}
main .wp-pagenavi .nextpostslink::after {
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block;
  position: absolute;
  background: url(../images/pagearrow__right.png) no-repeat center center;
  right: -12px;
}
@media (min-width: 768px) {
  main .wp-pagenavi .nextpostslink::after {
    right: 7px;
  }
}
main .wp-pagenavi .page {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: #FFFFFF;
  background: #FFFFFF;
  border: none;
}
@media (min-width: 768px) {
  main .wp-pagenavi .page {
    color: inherit;
    background: inherit;
    border: inherit;
    gap: 15px;
    border: 1px, solid, #707070;
  }
}
main .wp-pagenavi .current {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: #FFFFFF;
  background: #FFFFFF;
  border: none;
}
@media (min-width: 768px) {
  main .wp-pagenavi .current {
    background: inherit;
    border: inherit;
    background-color: #3C2B1C;
  }
}

.archive .p-card p,
.search .p-card p {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}
@media (min-width: 1024px) {
  .archive .p-card p,
.search .p-card p {
    margin-bottom: 1.3rem;
  }
}
.archive .p-card h2,
.search .p-card h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}
@media (min-width: 1024px) {
  .archive .p-card h2,
.search .p-card h2 {
    font-size: 2.4rem;
    margin-bottom: 1.3rem;
  }
}
.archive .p-card .c-card__title,
.search .p-card .c-card__title {
  font-size: 2rem;
  margin-bottom: 2.1rem;
}
@media (min-width: 1024px) {
  .archive .p-card .c-card__title,
.search .p-card .c-card__title {
    font-size: 3.6rem;
    margin-bottom: 4.4rem;
  }
}

.l-header, .l-header__title, .l-header__nav {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.l-header__nav {
  justify-content: space-around;
}
.l-header__button {
  display: block;
  position: relative;
  margin-top: 46px;
}
@media (min-width: 601px) {
  .l-header__button {
    margin-top: inherit;
  }
}
.l-header__button h2 {
  position: absolute;
  top: 8px;
  right: 8px;
}
.l-header__title h1 {
  text-align: center;
}

.l-main, .l-main__access, .l-main__contents, .l-main__title {
  position: relative;
  height: auto;
  width: auto;
  display: block;
}
.l-sidebar {
  position: fixed;
  display: block;
  background-color: #F2EDE9;
  height: 100%;
  width: 87.5%;
  top: 0%;
  transition: all 300ms 0s ease;
  z-index: 100;
  overflow-y: auto;
  left: 100%;
}
@media (min-width: 768px) {
  .l-sidebar {
    width: 44%;
  }
}
@media (min-width: 1024px) {
  .l-sidebar {
    height: auto;
    width: auto;
    position: relative;
    transition: inherit;
    z-index: inherit;
    overflow-y: inherit;
    left: inherit;
  }
}
.l-sidebar.is-open {
  left: 12.5%;
}
@media (min-width: 768px) {
  .l-sidebar.is-open {
    left: 56%;
  }
}
.l-sidebar__button {
  height: auto;
  width: auto;
  position: relative;
  display: block;
}

.l-footer {
  color: #FFFFFF;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.c-button, .c-button__hamburger, .c-button__flex, .c-button__area a, .c-button__area {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.c-button__flex, .c-button__area a, .c-button__area {
  display: flex;
  flex-direction: column;
}
.c-button__home {
  color: #707070;
}
.c-button__menu {
  color: #707070;
  font-weight: 700;
  position: relative;
}
.c-button__hamburger {
  width: 32px;
  height: 36px;
  margin: 0.8rem 1.1rem 13.4rem auto;
}
@media (min-width: 768px) {
  .c-button__hamburger {
    height: 37px;
    margin: 2rem 2.5rem 12.1rem auto;
  }
}
@media (min-width: 1024px) {
  .c-button__hamburger {
    display: none;
  }
}
.c-button__hamburger::before, .c-button__hamburger::after {
  content: "";
  background-color: #707070;
  position: absolute;
}
.c-button__hamburger::before, .c-button__hamburger::after,
.c-button__hamburger > span {
  width: 45.25px;
  height: 6px;
  display: block;
  font-size: 0;
  background-size: auto 6px;
  left: calc(50% - 45.25px/2);
  top: 50%;
  transition: transform 0.1s;
}
.c-button__hamburger.is-open::before {
  transform: rotate(-135deg);
  top: 20px;
}
.c-button__hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 20px;
}
.c-button__area {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.c-button__area a {
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
}

.c-inner, .c-inner__menu, .c-inner__list, .c-inner__category, .c-inner__branch-menu, .c-inner--center, .c-inner__button-area, .c-inner__footer, .c-inner--100, .c-inner__card, .c-inner__figcaption, .c-inner--auto, .c-inner__single {
  display: flex;
  flex-direction: column;
}
.c-inner--auto, .c-inner__single, .c-inner__button-area, .c-inner__footer {
  height: auto;
  width: auto;
}
.c-inner--100, .c-inner__card, .c-inner__figcaption {
  height: 100%;
  width: 100%;
}
.c-inner--center, .c-inner__button-area, .c-inner__footer {
  justify-content: center;
  align-items: center;
}
.c-inner__branch-menu {
  padding: 7.6%;
  flex-grow: 1;
}
.c-inner__category {
  padding: 0 3.4% 0 3.4%;
}
.c-inner__list {
  padding: 1.4rem 2rem 1.4rem 2rem;
}
.c-inner__text {
  display: block;
  padding: 6% 10.6% 8.2% 10.6%;
}
@media (min-width: 768px) {
  .c-inner__text {
    padding: 10.1% 3.4% 9.6% 5%;
  }
}
@media (min-width: 1024px) {
  .c-inner__text {
    padding: 13% 8.6% 11.5% 7.6%;
  }
}
.c-inner__sidebar {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding: 0 8% 0 12.5%;
}
.c-inner__menu {
  padding-bottom: 2.8rem;
  justify-content: center;
}
.c-inner__footer {
  padding: 4rem 0 1.6rem 0;
}
@media (min-width: 768px) {
  .c-inner__footer {
    padding: 3rem 0 2.4rem 0;
  }
}
@media (min-width: 1024px) {
  .c-inner__footer {
    padding: 4.1rem 0 2.7rem 0;
  }
}
.c-inner__archive {
  padding: 3.2rem 5.3% 0 5.3%;
}
@media (min-width: 768px) {
  .c-inner__archive {
    padding: 3.9rem 5.1% 0 5.1%;
  }
}
@media (min-width: 1024px) {
  .c-inner__archive {
    padding: 6.3rem 6.4% 0 6.4%;
  }
}
.c-inner__discription {
  padding-bottom: 1.9rem;
  display: flex;
}
@media (min-width: 768px) {
  .c-inner__discription {
    padding-bottom: 3.7rem;
  }
}
@media (min-width: 1024px) {
  .c-inner__discription {
    padding-bottom: 7rem;
  }
}
.c-inner__figcaption {
  padding-bottom: 12.3%;
}
@media (min-width: 768px) {
  .c-inner__figcaption {
    padding-bottom: 11.2%;
  }
}
@media (min-width: 1024px) {
  .c-inner__figcaption {
    padding-bottom: 12.7%;
  }
}
.c-inner__card {
  padding: 9.1% 4.79% 11.2% 4.79%;
}
@media (min-width: 768px) {
  .c-inner__card {
    padding: 8.7% 15.6% 11.2% 9.1%;
  }
}
@media (min-width: 1024px) {
  .c-inner__card {
    padding: 11.8% 15.38% 12.7% 9.31%;
  }
}
.c-inner__button-area {
  border-radius: 35px 35px 35px 35px;
}
.c-inner__single {
  padding: 3.4rem 5.3% 6.9rem 5.3%;
}
@media (min-width: 768px) {
  .c-inner__single {
    padding: 6rem 7.1% 14.9rem 7.1%;
  }
}
@media (min-width: 1024px) {
  .c-inner__single {
    padding: 6.3rem 6.4% 27.4rem 6.4%;
  }
}
.c-inner__single > * {
  margin-bottom: 5.5rem;
}

.c-search-form, .c-search-form__submit, .c-search-form__keyword {
  height: 4.6rem;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 10px 10px 10px 10px;
}
.c-search-form__keyword {
  width: 67.9%;
  background-color: #FFFFFF;
  padding: 1rem 1rem 1rem 3.8rem;
}
@media (min-width: 768px) {
  .c-search-form__keyword {
    width: 72.5%;
    padding: 1rem 1rem 1rem 4.9rem;
  }
}
@media (min-width: 1024px) {
  .c-search-form__keyword {
    width: 39.6rem;
    padding: 1rem 1rem 1rem 6.1rem;
  }
}
.c-search-form__keyword:active {
  background-color: #FFFFFF;
}
@media (hover: hover) {
  .c-search-form__keyword:hover {
    background-color: #FFFFFF;
  }
}
.c-search-form__submit {
  width: 28.3%;
  margin-left: 3.8%;
  color: #707070;
  background-color: #F2EDE9;
  min-width: 60px;
}
@media (min-width: 768px) {
  .c-search-form__submit {
    margin-left: 2.6%;
    width: 24.9%;
  }
}
@media (min-width: 1024px) {
  .c-search-form__submit {
    width: 13.6rem;
  }
}
.c-search-form__submit:active {
  background: rgba(112, 112, 112, 0.2);
}
@media (hover: hover) {
  .c-search-form__submit:hover {
    background: rgba(112, 112, 112, 0.2);
  }
}

.c-item, .c-item__group, .c-item__sidebar {
  height: auto;
  width: auto;
  position: relative;
}
.c-item__sidebar {
  font-weight: 400;
  color: #707070;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
.c-item__sidebar:first-of-type {
  margin-top: 3.2rem;
}
.c-item__group {
  font-weight: 700;
  color: #3C2A10;
  display: block;
}
.c-item__group p {
  font-weight: 400;
}
.c-item__sub {
  display: flex;
  flex-direction: column;
  margin: 1.7rem 0 0 1.8rem;
}
.c-item__img {
  margin-inline: auto;
}

.c-background, .c-background__footer, .c-background__map-comment, .c-background__map-all, .c-background__column, .c-background__category, .c-background__branch-menu, .c-background__cover, .c-background__archive, .c-background__title-single, .c-background__title {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.c-background__cover, .c-background__archive, .c-background__category, .c-background__title-single, .c-background__title {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.c-background__column, .c-background__category, .c-background__branch-menu {
  display: flex;
  flex-direction: column;
}
.c-background__header {
  background-color: #FFF7EF;
  margin-top: -46px;
  justify-content: center;
}
@media (min-width: 601px) {
  .c-background__header {
    margin-top: inherit;
  }
}
.c-background__branch-menu {
  background-color: #FFFFFF;
  flex-grow: 1;
}
.c-background__title {
  width: 100%;
  height: 28.5rem;
  position: relative;
  background-color: #707070;
}
@media (min-width: 1024px) {
  .c-background__title {
    height: 53rem;
  }
}
.c-background__title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-background__title-single {
  width: 100%;
  height: 22.5rem;
  position: relative;
  background-color: #707070;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .c-background__title-single {
    height: 50.5rem;
  }
}
@media (min-width: 1024px) {
  .c-background__title-single {
    height: 50rem;
  }
}
.c-background__title-single img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-background__category {
  width: 100%;
  background: rgba(255, 255, 255, 0.79);
  margin-bottom: 3.2%;
}
.c-background__map-all {
  z-index: 1;
  margin-bottom: 0;
  left: 0%;
  top: 0%;
  background: rgba(0, 0, 0, 0.4);
}
.c-background__map-comment {
  width: 100%;
  z-index: 2;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .c-background__map-comment {
    width: 61%;
  }
}
.c-background__map-comment::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 61%;
  left: 0%;
  top: 0%;
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .c-background__map-comment::before {
    height: auto;
  }
}
.c-background__archive {
  height: 28.5rem;
  width: 100%;
  background-image: url(../images/main__takeout.jpg);
}
@media (min-width: 1024px) {
  .c-background__archive {
    height: 23.9rem;
  }
}
.c-background__archive-cover {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.c-background__footer {
  overflow: hidden;
  background-image: url(../images/footer.png);
  background-repeat: repeat;
}

.c-grid, .c-grid__img, .c-grid__article, .c-grid__article--2, .c-grid__article--1, .c-grid__card {
  height: auto;
  width: auto;
  display: grid;
}
.c-grid__body {
  height: 100%;
  width: 100%;
  display: block;
  min-height: 100%;
}
@media (min-width: 1024px) {
  .c-grid__body {
    display: grid;
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 20vw;
  }
}
@media (min-width: 1024px) {
  .c-grid__body__child--header {
    grid-row: 1;
    grid-column: 1;
  }
}
.c-grid__body__child--main {
  grid-row: 2;
  grid-column: 1;
}
@media (min-width: 1024px) {
  .c-grid__body__child--sidebar {
    grid-row: 1/3;
    grid-column: 2;
  }
}
.c-grid__body__child--footer {
  grid-row: 3;
  grid-column: 1/3;
}
.c-grid__card {
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 768px) {
  .c-grid__card {
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
  }
}
.c-grid__article, .c-grid__article--2, .c-grid__article--1 {
  gap: 1rem;
}
@media (min-width: 768px) {
  .c-grid__article, .c-grid__article--2, .c-grid__article--1 {
    gap: 2.1rem;
  }
}
@media (min-width: 1024px) {
  .c-grid__article, .c-grid__article--2, .c-grid__article--1 {
    gap: 4rem;
  }
}
.c-grid__article--1 {
  grid-template-columns: 43% 1fr;
}
.c-grid__article--2 {
  grid-template-columns: 1fr 43%;
}
.c-grid__img {
  margin-inline: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .c-grid__img {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    -moz-column-gap: 1.6rem;
         column-gap: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .c-grid__img {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.c-title, .c-title__discription, .c-title__archive-sub p, .c-title__archive h2, .c-title__single, .c-title__front {
  width: auto;
  height: auto;
  font-weight: 700;
  font-size: 3.6rem;
  color: #FFFFFF;
}
.c-title__header {
  font-family: "Roboto";
  width: 20.3rem;
  height: 4.7rem;
  font-weight: 700;
  font-size: 4rem;
  color: #707070;
  margin: 4.3rem auto 0 auto;
}
@media (min-width: 768px) {
  .c-title__header {
    height: 5.3rem;
    margin: 4rem auto 0 auto;
  }
}
@media (min-width: 1024px) {
  .c-title__header {
    width: 32.5rem;
    height: 7.5rem;
    font-size: 6.4rem;
    margin: 6.6rem 6.5rem 6.7rem 6.5rem;
  }
}
.c-title__front {
  position: absolute;
  left: 6.66%;
  transform: translateY(-50%);
  top: 50%;
}
@media (min-width: 768px) {
  .c-title__front {
    left: 10.31%;
  }
}
@media (min-width: 1024px) {
  .c-title__front {
    left: 5.5%;
  }
}
.c-title__single {
  font-family: "M PLUS 1p";
  position: absolute;
  left: 6.93%;
  transform: translateY(-50%);
  top: 50%;
}
@media (min-width: 768px) {
  .c-title__single {
    left: 10.3%;
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  .c-title__single {
    left: 5.53%;
  }
}
.c-title__archive h2 {
  font-family: "Roboto";
  display: flex;
  position: relative;
  align-items: center;
}
@media (min-width: 768px) {
  .c-title__archive h2 {
    font-size: 6rem;
  }
}
.c-title__archive-sub p {
  font-family: "M PLUS 1p";
  font-size: 1.6rem;
  display: flex;
  position: relative;
  align-items: center;
}
@media (min-width: 768px) {
  .c-title__archive-sub p {
    margin-left: 1.9rem;
  }
}
.c-title__discription {
  font-family: "M PLUS 1p";
  font-size: 2.8rem;
  display: inline-block;
  position: relative;
  color: #3C2A10;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .c-title__discription {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}

.c-category, .c-category dd, .c-category dt, .c-category h3 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  color: #3C2A10;
  background-size: cover;
  position: relative;
  font-family: "M PLUS 1p";
  font-weight: 700;
}
.c-category:active, .c-category dd:active, .c-category dt:active, .c-category h3:active {
  opacity: 0.6;
}
@media (hover: hover) {
  .c-category:hover, .c-category dd:hover, .c-category dt:hover, .c-category h3:hover {
    opacity: 0.6;
  }
}
.c-category h3 {
  color: #EAEAEA;
  display: inline-block;
  margin-bottom: 58%;
  font-size: 4.1rem;
}
@media (min-width: 768px) {
  .c-category h3 {
    font-size: 4.4rem;
  }
}
@media (min-width: 1024px) {
  .c-category h3 {
    font-size: 8rem;
  }
}
.c-category h3:active {
  opacity: 0.6;
}
.c-category h3:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .c-category h3:hover {
    opacity: 0.6;
  }
}
.c-category dt {
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  .c-category dt {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .c-category dt {
    margin-bottom: 1.8rem;
  }
}
.c-category dt:active {
  opacity: 0.6;
}
.c-category dt:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .c-category dt:hover {
    opacity: 0.6;
  }
}
.c-category dd {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}
.c-category dd:active {
  opacity: 0.6;
}
.c-category dd:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .c-category dd:hover {
    opacity: 0.6;
  }
}

.c-flexbox, .c-flexbox__blockquote, .c-flexbox__container, .c-flexbox__page-arrow, .c-flexbox__page, .c-flexbox__discription, .c-flexbox__title, .c-flexbox__branch-menu, .c-flexbox__header, .c-flexbox--center, .c-flexbox__img, .c-flexbox__page-count, .c-flexbox__footer, .c-flexbox__search-form {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.c-flexbox--center, .c-flexbox__img, .c-flexbox__page-count, .c-flexbox__footer, .c-flexbox__search-form {
  justify-content: center;
  align-items: center;
}
.c-flexbox__header {
  padding-left: 8.2%;
  padding-right: 6.9%;
}
@media (min-width: 768px) {
  .c-flexbox__header {
    padding-left: 17.2%;
    padding-right: 17.2%;
  }
}
@media (min-width: 1024px) {
  .c-flexbox__header {
    flex-direction: row;
    padding: inherit;
  }
}
.c-flexbox__search-form {
  width: 100%;
  flex-direction: inherit;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .c-flexbox__search-form {
    width: auto;
  }
}
.c-flexbox__branch-menu {
  flex-grow: 1;
  gap: 2rem;
}
@media (min-width: 768px) {
  .c-flexbox__branch-menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 4.1rem;
  }
}
@media (min-width: 1024px) {
  .c-flexbox__branch-menu {
    gap: 8rem;
  }
}
.c-flexbox__footer {
  height: 100%;
  width: 100%;
  flex-direction: revert;
  gap: 0.6rem;
  margin-inline: auto;
  margin-bottom: 7rem;
}
@media (min-width: 768px) {
  .c-flexbox__footer {
    margin-bottom: 4.4rem;
  }
}
@media (min-width: 1024px) {
  .c-flexbox__footer {
    margin-bottom: 3.1rem;
  }
}
.c-flexbox__title {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 3.7rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .c-flexbox__title {
    flex-direction: inherit;
    justify-content: inherit;
    align-items: center;
    margin-left: 8.6rem;
  }
}
.c-flexbox__discription {
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .c-flexbox__discription {
    gap: 2rem;
  }
}
.c-list {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.c-footer-menu {
  font-family: "M PLUS 1p";
  font-weight: 400;
  height: auto;
  width: auto;
  display: block;
  font-size: 2rem;
  list-style: none;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
}
.c-footer-menu:first-child {
  display: block;
  position: relative;
  padding-right: 10px;
}
.c-footer-menu:first-child:before {
  content: "";
  position: absolute;
  right: 1px;
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #FFFFFF;
  top: 53%;
  transform: translateY(-50%);
}
.c-footer-menu:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-footer-menu__small {
  display: block;
  height: 2.1rem;
  font-size: 1.4rem;
}

.c-card, .c-card__button a, .c-card__button, .c-card__button-area, .c-card__text, .c-card__title-sub, .c-card__title, .c-card__all {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
}
.c-card__all {
  font-weight: 700;
  height: 100%;
  width: 100%;
  background-color: #3C2B1C;
}
.c-card__title {
  font-size: 2rem;
  margin-bottom: 5.9%;
}
@media (min-width: 1024px) {
  .c-card__title {
    font-size: 3.6rem;
    margin-bottom: 9.3%;
  }
}
.c-card__tag {
  display: none;
}
.c-card__title-sub {
  font-size: 1.6rem;
  margin-bottom: 1.9%;
}
@media (min-width: 1024px) {
  .c-card__title-sub {
    font-size: 2.4rem;
    margin-bottom: 12.7%;
  }
}
.c-card__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.49;
}
.c-card__button-area {
  justify-content: center;
  align-items: center;
  color: revert;
}
.c-card__button {
  height: 4.2rem;
  width: 16.3rem;
  color: #707070;
  background-color: #FFFFFF;
  border-radius: 35px 35px 35px 35px;
}
.c-card__button:active {
  color: #3C2A10;
  background: rgba(222, 216, 211, 0.9);
}
@media (hover: hover) {
  .c-card__button:hover {
    color: #3C2A10;
    background: rgba(222, 216, 211, 0.9);
  }
}
@media (min-width: 1024px) {
  .c-card__button {
    height: 7.6rem;
    width: 29.2rem;
  }
}
.c-card__button a {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 35px 35px 35px 35px;
}

.c-text {
  font-family: "M PLUS 1p";
  font-weight: 400;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
}

.c-map {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.p-access, .p-access__comment p, .p-access__comment h2, .p-access__map {
  width: auto;
  height: auto;
  display: block;
  position: relative;
  font-family: "M PLUS 1p";
  font-weight: 700;
}
.p-access__comment h2 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: 2.9rem;
  z-index: 3;
}
@media (min-width: 1024px) {
  .p-access__comment h2 {
    font-size: 3.6rem;
    margin-bottom: 10.9rem;
  }
}
.p-access__comment h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 7.5rem;
  height: 0.2rem;
  justify-content: left;
  background-color: #FFFFFF;
  z-index: 3;
}
@media (min-width: 1024px) {
  .p-access__comment h2::before {
    bottom: -50.5px;
  }
}
.p-access__comment p {
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 2;
  z-index: 3;
}
@media (min-width: 1024px) {
  .p-access__comment p {
    font-size: 1.6rem;
  }
}

.p-branch-menu, .p-branch-menu__eatin, .p-branch-menu__takeout {
  height: auto;
  width: auto;
  display: block;
}
.p-branch-menu h3, .p-branch-menu__eatin h3, .p-branch-menu__takeout h3 {
  margin-top: 2.8rem;
  margin-left: 2.2rem;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
.p-branch-menu h3:before, .p-branch-menu__eatin h3:before, .p-branch-menu__takeout h3:before {
  content: "";
  position: absolute;
  bottom: -43px;
  display: inline-block;
  width: 6.3rem;
  height: 0.4rem;
  justify-content: left;
  background-color: #FFFFFF;
}
.p-branch-menu__takeout {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(../images/main__takeout.jpg);
}
.p-branch-menu__eatin {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(../images/main__eatin.jpg);
}

.p-menu {
  height: auto;
  width: 100%;
  color: #707070;
  font-weight: 400;
  line-height: normal;
  display: block;
  position: relative;
}
.p-menu__parent {
  height: auto;
  width: auto;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.p-menu__parent > li {
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 2.4rem;
  color: #707070;
  height: auto;
  width: auto;
  position: relative;
  margin-bottom: 6rem;
  margin-left: 0;
}
@media (min-width: 768px) {
  .p-menu__parent > li {
    margin-bottom: 4.8rem;
  }
}

.p-card {
  font-family: "M PLUS 1p";
  font-weight: bold;
  height: auto;
  width: auto;
  background-color: #3C2B1C;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.08rem;
}
@media (min-width: 768px) {
  .p-card {
    margin-bottom: 2.05rem;
  }
}
@media (min-width: 1024px) {
  .p-card {
    margin-bottom: 3rem;
  }
}
.p-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: flex;
  flex-direction: column;
  aspect-ratio: 336.11/230.53;
}
@media (min-width: 768px) {
  .p-card img {
    aspect-ratio: 378.28/354.5;
  }
}
@media (min-width: 1024px) {
  .p-card img {
    aspect-ratio: 677/471;
  }
}

.p-page {
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.6rem;
  color: #707070;
  margin: 15rem 2rem 6.4rem 2rem;
}
@media (min-width: 768px) {
  .p-page {
    justify-content: center;
  }
}

.p-title {
  font-family: "M PLUS 1p";
  font-weight: 700;
  font-size: 3.6rem;
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  .p-title {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .p-discription__404 {
    min-height: 450px;
  }
}

.p-search-form {
  height: auto;
  width: 100%;
  font-family: "M PLUS 1p";
  font-weight: 700;
  font-size: 1.6rem;
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4rem 0 3.8rem 0;
}
@media (min-width: 1024px) {
  .p-search-form {
    width: auto;
    margin: 8.6rem 3.1rem 8.5rem auto;
  }
}
.p-search-form::before {
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background: url(../images/header__search-form.png) no-repeat center center;
  display: inline-block;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 5px;
}
@media (min-width: 768px) {
  .p-search-form::before {
    left: 12px;
  }
}
@media (min-width: 1024px) {
  .p-search-form::before {
    left: 1.2rem;
  }
}

.u-button__header {
  font-size: 2rem;
  height: 2.3rem;
  width: 5.1rem;
  margin: 0.8rem 0.8rem 0 auto;
}
@media (min-width: 768px) {
  .u-button__header {
    font-size: 3.4rem;
    height: 4rem;
    width: 8.7rem;
  }
}
@media (min-width: 1024px) {
  .u-button__header {
    display: none;
  }
}
.u-button__sidebar {
  display: none;
}
@media (min-width: 1024px) {
  .u-button__sidebar {
    display: block;
    position: relative;
    font-size: 3.4rem;
    height: 4rem;
    width: 8.7rem;
    margin: 8.4rem auto 9rem 0;
    cursor: inherit;
  }
}

.u-page__box {
  background-color: #3C2B1C;
  color: #FFFFFF;
  margin-left: 15px;
}

.u-text__ptag {
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .u-text__ptag {
    margin-top: 5.5rem;
  }
}
@media (min-width: 1024px) {
  .u-text__ptag {
    margin-top: 5.7rem;
  }
}
.u-text__blockquote {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.7rem;
}
@media (min-width: 768px) {
  .u-text__blockquote {
    margin-bottom: 6.1rem;
  }
}
.u-text__bold {
  font-weight: bold;
}
.u-text__small {
  height: 100%;
  width: 100%;
  display: flex;
  margin-inline: auto;
  font-size: 1.4rem;
}

.u-item__group {
  margin-bottom: 0;
}

.u-title__page {
  background-color: rgb(217, 217, 217);
  background-blend-mode: normal;
}

.u-login {
  margin-top: 6.6rem;
}
@media (min-width: 1024px) {
  .u-login {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */