html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

ul, ol {
  list-style-type: none;
}

.l-body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif, "M PLUS 1p";
  box-sizing: border-box;
}
.l-body.is-fix {
  overflow: hidden;
}
.l-body.is-fix::before {
  content: "";
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  top: 0%;
  transition: all 300ms 0.1s ease-out;
  overflow-y: auto;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  left: 0%;
}

.l-header {
  grid-row: 1;
  grid-column: 1;
  background-color: #FFF7EF;
}
.l-header__button {
  display: block;
  position: relative;
}
.l-header__button h2 {
  position: absolute;
  top: 8px;
  right: 8px;
}
.l-header__title {
  display: block;
}
.l-header__title h1 {
  text-align: center;
}

.l-main {
  grid-row: 2;
  grid-column: 1;
  position: relative;
}
.l-main__contents {
  height: auto;
  display: inline-block;
}
.l-main__access {
  height: auto;
  display: block;
}
.l-main__section {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .l-main__section {
    margin-bottom: 6rem;
  }
}

.l-sidebar {
  position: fixed;
  display: block;
  background-color: #F2EDE9;
  height: 100%;
  width: 87.5%;
  top: 0%;
  transition: all 300ms 0s ease;
  z-index: 100;
  overflow-y: auto;
  left: 100%;
}
@media (min-width: 768px) {
  .l-sidebar {
    width: 44%;
  }
}
@media (min-width: 1024px) {
  .l-sidebar {
    grid-row: 1/3;
    grid-column: 2;
    height: auto;
    width: auto;
    position: relative;
    transition: inherit;
    z-index: inherit;
    overflow-y: inherit;
    left: inherit;
  }
}
.l-sidebar.is-open {
  left: 12.5%;
}
@media (min-width: 768px) {
  .l-sidebar.is-open {
    left: 56%;
  }
}

.l-footer {
  grid-row: 3;
  grid-column: 1/3;
  background-color: #9D8670;
  color: #FFFFFF;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-button__menu {
  font-family: Roboto;
  color: #707070;
  font-weight: bold;
  position: relative;
}
.c-button__hamburger {
  width: 32px;
  height: 36px;
  display: block;
  position: relative;
  margin: 0.8rem 1.1rem 13.4rem auto;
}
@media (min-width: 768px) {
  .c-button__hamburger {
    height: 37px;
    margin: 2rem 2.5rem 12.1rem auto;
  }
}
@media (min-width: 1024px) {
  .c-button__hamburger {
    display: none;
  }
}
.c-button__hamburger::before, .c-button__hamburger::after {
  content: "";
  width: 45.25px;
  height: 6px;
  background-color: #707070;
  display: block;
  position: absolute;
  left: calc(50% - 45.25px/2);
  transition: transform 0.1s;
}
.c-button__hamburger > span {
  width: 45.25px;
  height: 6px;
  display: block;
  font-size: 0;
  background-size: auto 6px;
  left: calc(50% - 45.25px/2);
  top: 50%;
  transition: transform 0.1s;
}
.c-button__hamburger.is-open::before {
  transform: rotate(-135deg);
  top: 20px;
}
.c-button__hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 20px;
}
.c-button__area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.c-button__link {
  font-family: "M PLUS 1p";
  font-weight: bold;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.6rem;
  text-decoration: none;
  color: #3C2A10;
}

.c-inner__branch-menu {
  padding: 7.6% 7.6% 7.6% 7.6%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.c-inner__category {
  padding: 0 3.4% 0 3.4%;
  display: flex;
  flex-direction: column;
}
.c-inner__list {
  padding: 1.4rem 2rem 1.4rem 2rem;
  display: flex;
  flex-direction: column;
}
.c-inner__text {
  display: block;
  padding: 6% 10.6% 8.2% 10.6%;
}
@media (min-width: 768px) {
  .c-inner__text {
    padding: 10.1% 3.4% 9.6% 5%;
  }
}
@media (min-width: 1024px) {
  .c-inner__text {
    padding: 13% 8.6% 11.5% 7.6%;
  }
}
.c-inner__sidebar {
  padding-left: 4.6rem;
  display: block;
  position: relative;
}
.c-inner__menu {
  padding-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-inner__footer {
  height: 100%;
  width: 100%;
  padding: 4.1rem 0 2.7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-inner__archive {
  padding: 3.2rem 5.3% 0 5.3%;
}
@media (min-width: 768px) {
  .c-inner__archive {
    padding: 3.9rem 5.1% 0 5.1%;
  }
}
@media (min-width: 1024px) {
  .c-inner__archive {
    padding: 6.3rem 6.4% 0 6.4%;
  }
}
.c-inner__discription {
  padding-bottom: 1.9rem;
  display: flex;
}
@media (min-width: 768px) {
  .c-inner__discription {
    padding-bottom: 3.7rem;
  }
}
@media (min-width: 1024px) {
  .c-inner__discription {
    padding-bottom: 7rem;
  }
}
.c-inner__figcaption {
  padding-bottom: 12.3%;
}
@media (min-width: 768px) {
  .c-inner__figcaption {
    padding-bottom: 11.2%;
  }
}
@media (min-width: 1024px) {
  .c-inner__figcaption {
    padding-bottom: 12.7%;
  }
}
.c-inner__card {
  display: flex;
  flex-direction: column;
  padding: 9.1% 4.79% 11.2% 4.79%;
}
@media (min-width: 768px) {
  .c-inner__card {
    padding: 8.7% 15.6% 11.2% 9.1%;
  }
}
@media (min-width: 1024px) {
  .c-inner__card {
    padding: 11.8% 15.38% 12.7% 9.31%;
  }
}
.c-inner__button-area {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-inner__single {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 3.4rem 5.3% 6.9rem 5.3%;
}
@media (min-width: 768px) {
  .c-inner__single {
    padding: 6rem 7.1% 14.9rem 7.1%;
  }
}
@media (min-width: 1024px) {
  .c-inner__single {
    padding: 6.3rem 6.4% 27.4rem 6.4%;
  }
}
.c-inner__blockquote {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 5rem 5.9% 5.7rem 5.9%;
}
@media (min-width: 768px) {
  .c-inner__blockquote {
    padding: 5rem 7% 5.7rem 7%;
  }
}
@media (min-width: 1024px) {
  .c-inner__blockquote {
    padding: 5rem 6.4% 4.7rem 6.4%;
  }
}
.c-inner__img {
  padding: 0 10.1% 0 10.1%;
}
@media (min-width: 768px) {
  .c-inner__img {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .c-inner__list-area {
    margin-left: 5rem;
  }
}
.c-inner__code {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5rem;
}
@media (min-width: 768px) {
  .c-inner__code {
    margin: 5rem;
  }
}
@media (min-width: 1024px) {
  .c-inner__code {
    margin: 5rem;
  }
}

.c-search-form {
  display: flex;
  position: relative;
  height: auto;
  width: auto;
  margin: 4rem auto 3.9rem auto;
}
@media (min-width: 768px) {
  .c-search-form {
    margin: 4rem auto 3.8rem auto;
  }
}
@media (min-width: 1024px) {
  .c-search-form {
    margin: 8.6rem 3.1rem 8.5rem auto;
  }
}
.c-search-form::before {
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background: url(../../../images/header__search-form.png) no-repeat center center;
  display: inline-block;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0.9rem;
}
@media (min-width: 768px) {
  .c-search-form::before {
    left: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .c-search-form::before {
    top: 50%;
  }
}
.c-search-form__keyword {
  height: 4.6rem;
  width: 21.6rem;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  background-color: #FFFFFF;
  border: 1px solid #707070;
  padding: 1rem 1rem 1rem 3.8rem;
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 1.6rem;
  color: #707070;
}
@media (min-width: 768px) {
  .c-search-form__keyword {
    width: 39.6rem;
    padding: 1rem 1rem 1rem 4.9rem;
  }
}
@media (min-width: 1024px) {
  .c-search-form__keyword {
    padding: 1rem 1rem 1rem 6.1rem;
  }
}
.c-search-form__submit {
  height: 4.6rem;
  width: 9rem;
  margin-left: 1.6rem;
  display: inline-block;
  background-color: #F2EDE9;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #707070;
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 1.6rem;
  color: #707070;
}
@media (min-width: 768px) {
  .c-search-form__submit {
    width: 13.6rem;
    margin-left: 1.4rem;
  }
}

.c-sub {
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 2.4rem;
  height: 3.6rem;
}

.c-item__sidebar {
  font-family: "M PLUS 1p";
  font-weight: regular;
  color: #707070;
  height: auto;
  width: auto;
  position: relative;
  font-size: 2rem;
  margin: 4rem auto 2rem 2rem;
}
@media (min-width: 768px) {
  .c-item__sidebar {
    margin: 3.2rem auto 2rem 2rem;
  }
}
.c-item__group {
  font-family: "M PLUS 1p";
  font-weight: bold;
  height: auto;
  width: auto;
  color: #3C2A10;
  display: block;
  position: relative;
  margin-bottom: 5.7rem;
}
.c-item__group h2 {
  font-size: 2.8rem;
}
@media (min-width: 768px) {
  .c-item__group h2 {
    font-size: 3.6rem;
  }
}
.c-item__group h3 {
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .c-item__group h3 {
    font-size: 2.8rem;
  }
}
.c-item__group h4, .c-item__group h5, .c-item__group h6 {
  font-size: 2rem;
}
.c-item__sub {
  display: flex;
  flex-direction: column;
  margin: 1.7rem 0 0 1.8rem;
}
.c-item__img {
  margin-inline: auto;
}

.c-background__branch-menu {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.c-background__title {
  height: 28.5rem;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__title-sp.jpg);
}
@media (min-width: 768px) {
  .c-background__title {
    background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__title-tablet.jpg);
  }
}
@media (min-width: 1024px) {
  .c-background__title {
    background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__title-pc.jpg);
    height: 53rem;
  }
}
.c-background__category {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background: rgba(255, 255, 255, 0.79);
  margin-bottom: 3.2%;
  display: flex;
  flex-direction: column;
}
.c-background__access {
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__map-sp.jpg);
}
@media (min-width: 768px) {
  .c-background__access {
    background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__map-tablet.jpg);
  }
}
@media (min-width: 1024px) {
  .c-background__access {
    background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__map-pc.jpg);
  }
}
.c-background__map {
  height: auto;
  width: auto;
  display: block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: bottom;
  background: rgba(0, 0, 0, 0.5);
}
.c-background__cheeseburger {
  height: 28.5rem;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-position: left;
  background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__takeout.jpg);
}
@media (min-width: 768px) {
  .c-background__cheeseburger {
    background-size: cover;
  }
}
@media (min-width: 1024px) {
  .c-background__cheeseburger {
    height: 23.9rem;
  }
}
.c-background__cheeseburger-cover {
  height: 28.5rem;
  width: 100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.c-background__title-single {
  height: 22.5rem;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(http://hamburger-sitewp.local/wp-content/uploads/2024/06/main__title-single.jpg);
}
@media (min-width: 768px) {
  .c-background__title-single {
    height: 50.5rem;
  }
}
@media (min-width: 1024px) {
  .c-background__title-single {
    height: 50rem;
  }
}
.c-background__blockquote {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F5F5F5;
}
.c-background__code {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #F5F5F5;
}
@media (min-width: 768px) {
  .c-background__code {
    height: auto;
  }
}
.c-background__button__area {
  display: block;
}
.c-background__button--parent {
  height: 8.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #F2EDE9;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .c-background__button--parent {
    height: 10.4rem;
    width: 42.9rem;
  }
}
.c-background__button--child {
  height: 8.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #DED8D3;
  mix-blend-mode: normal;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid;
}
@media (min-width: 768px) {
  .c-background__button--child {
    height: 10.4rem;
  }
}

.c-grid__body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 215px 1fr 150px;
  grid-template-columns: 1fr 0%;
}
@media (min-width: 768px) {
  .c-grid__body {
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 0%;
  }
}
@media (min-width: 1024px) {
  .c-grid__body {
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 20%;
  }
}
.c-grid__card {
  height: auto;
  width: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .c-grid__card {
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1024px) {
  .c-grid__card {
    margin-bottom: 3rem;
  }
}
.c-grid__article--1 {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 43% 1fr;
  gap: 1rem;
}
@media (min-width: 768px) {
  .c-grid__article--1 {
    gap: 2.1rem;
  }
}
@media (min-width: 1024px) {
  .c-grid__article--1 {
    gap: 4rem;
  }
}
.c-grid__article--2 {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 43%;
  gap: 1rem;
}
@media (min-width: 768px) {
  .c-grid__article--2 {
    gap: 2.1rem;
  }
}
@media (min-width: 1024px) {
  .c-grid__article--2 {
    gap: 4rem;
  }
}
.c-grid__img {
  height: auto;
  width: auto;
  display: grid;
  margin-inline: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .c-grid__img {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    -moz-column-gap: 1.6rem;
         column-gap: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .c-grid__img {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.c-title__header {
  font-family: "Roboto";
  color: #707070;
  font-weight: bold;
  font-size: 4rem;
  height: 4.7rem;
  width: 20.3rem;
  margin: 4.3rem auto 0 auto;
}
@media (min-width: 768px) {
  .c-title__header {
    height: 5.3rem;
    margin: 4rem auto 0 auto;
  }
}
@media (min-width: 1024px) {
  .c-title__header {
    font-size: 6.4rem;
    height: 7.5rem;
    width: 32.5rem;
    margin: 6.6rem 6.5rem 6.7rem 6.5rem;
  }
}
.c-title__front {
  font-family: "M PLUS 1p";
  font-weight: bold;
  color: #FFFFFF;
  height: auto;
  width: auto;
  font-size: 3.6rem;
  margin: 12.2rem auto 11.1rem 2.5rem;
}
@media (min-width: 1024px) {
  .c-title__front {
    font-size: 4rem;
    margin: 23.4rem auto 23.7rem 8.6rem;
  }
}
.c-title__menu {
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 2.4rem;
  color: #707070;
  height: auto;
  width: auto;
  position: relative;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .c-title__menu {
    margin-bottom: 3.2rem;
  }
}
.c-title__archive {
  font-family: "Roboto";
  font-weight: bold;
  color: #FFFFFF;
  height: auto;
  width: auto;
  font-size: 3.6rem;
}
@media (min-width: 768px) {
  .c-title__archive {
    font-size: 6rem;
  }
}
.c-title__archive-sub {
  font-family: "M PLUS 1p";
  font-weight: bold;
  color: #FFFFFF;
  height: auto;
  width: auto;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .c-title__archive-sub {
    margin-top: 4.8rem;
    margin-left: 1.9rem;
  }
}
.c-title__single {
  font-family: "M PLUS 1p";
  font-weight: bold;
  color: #FFFFFF;
  height: auto;
  width: auto;
  font-size: 3.6rem;
  margin: 9.3rem auto 8.9rem 2.6rem;
}
@media (min-width: 768px) {
  .c-title__single {
    margin: 21.5rem auto 20.1rem 8.6rem;
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  .c-title__single {
    margin: 21.3rem auto 19.8rem 8.6rem;
  }
}
.c-title__discription {
  font-family: "M PLUS 1p";
  font-weight: bold;
  height: auto;
  width: auto;
  color: #3C2A10;
  display: inline-block;
  position: relative;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .c-title__discription {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}

.c-category {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  font-family: "M PLUS 1p";
  color: #3C2A10;
  background-color: #FFFFFF;
  background-size: cover;
  position: relative;
}
.c-category h3 {
  font-family: Roboto;
  font-weight: bold;
  height: auto;
  width: auto;
  color: #EAEAEA;
  display: inline-block;
  position: relative;
  margin-bottom: 58%;
  font-size: 4.1rem;
}
@media (min-width: 768px) {
  .c-category h3 {
    font-size: 4.4rem;
  }
}
@media (min-width: 1024px) {
  .c-category h3 {
    font-size: 8rem;
  }
}
.c-category dt {
  font-weight: bold;
  height: auto;
  width: auto;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .c-category dt {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .c-category dt {
    margin-bottom: 1.8rem;
  }
}
.c-category dd {
  font-weight: 400;
  font-size: 1.6rem;
  height: auto;
  width: auto;
  line-height: 1.7;
  flex-direction: column;
  position: relative;
}

.c-flexbox__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  .c-flexbox__header {
    flex-direction: row;
  }
}
.c-flexbox__search-form {
  display: flex;
}
.c-flexbox__branch-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
}
@media (min-width: 768px) {
  .c-flexbox__branch-menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 4.1rem;
  }
}
@media (min-width: 1024px) {
  .c-flexbox__branch-menu {
    gap: 8rem;
  }
}
.c-flexbox__footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-inline: auto;
  margin-bottom: 7rem;
}
@media (min-width: 768px) {
  .c-flexbox__footer {
    margin-bottom: 4.4rem;
  }
}
@media (min-width: 1024px) {
  .c-flexbox__footer {
    margin-bottom: 3.1rem;
  }
}
.c-flexbox__title {
  height: 100%;
  width: auto;
  margin: 10.6rem auto 10.1rem 3.7rem;
}
@media (min-width: 768px) {
  .c-flexbox__title {
    display: flex;
    margin: 10.7rem auto 10.8rem 8.6rem;
  }
}
@media (min-width: 1024px) {
  .c-flexbox__title {
    margin: 8.3rem auto 8.6rem 8.6rem;
  }
}
.c-flexbox__discription {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.c-flexbox__container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.c-flexbox__page {
  display: flex;
}
.c-flexbox__page-count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-flexbox__page-arrow {
  display: flex;
}
.c-flexbox__blockquote {
  display: flex;
  flex-direction: column;
}
.c-flexbox__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-list {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.c-footer-menu {
  font-family: "M PLUS 1p";
  font-weight: 400;
  height: auto;
  width: auto;
  display: block;
  font-size: 2rem;
  list-style: none;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
}
.c-footer-menu__information {
  display: block;
  position: relative;
  padding-right: 10px;
}
.c-footer-menu__information:before {
  content: "";
  position: absolute;
  right: 1px;
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #FFFFFF;
  top: 53%;
  transform: translateY(-50%);
}
.c-footer-menu__history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-footer-menu__small {
  display: block;
  height: 2.1rem;
  font-size: 1.4rem;
}

.c-card {
  font-family: "M PLUS 1p";
  font-weight: bold;
  height: auto;
  width: auto;
  background-color: #3C2B1C;
  display: flex;
  flex-direction: column;
}
.c-card__title {
  height: auto;
  width: auto;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
  margin-bottom: 5.9%;
}
@media (min-width: 1024px) {
  .c-card__title {
    font-size: 3.6rem;
    margin-bottom: 9.3%;
  }
}
.c-card__title-sub {
  height: auto;
  width: auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
  margin-bottom: 1.9%;
}
@media (min-width: 1024px) {
  .c-card__title-sub {
    font-size: 2.4rem;
    margin-bottom: 12.7%;
  }
}
.c-card__text {
  font-weight: 400;
  height: auto;
  width: auto;
  font-size: 1.6rem;
  line-height: 1.49;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
}
.c-card__button-area {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.c-card__button {
  height: 4.2rem;
  width: 16.3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #707070;
  background-color: #FFFFFF;
  border-radius: 35px 35px 35px 35px;
}
@media (min-width: 1024px) {
  .c-card__button {
    height: 7.6rem;
    width: 29.2rem;
  }
}
.c-card__button a {
  height: 1.7rem;
  width: 8rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 1.1rem 4.2rem 1.4rem 4.1rem;
}
@media (min-width: 1024px) {
  .c-card__button a {
    height: 3.3rem;
    margin: 2.3rem 10.6rem 2rem 10.6rem;
  }
}

.c-text {
  font-family: "M PLUS 1p";
  font-weight: 400;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
}

.c-page img {
  height: 1.7rem;
  width: 0.8rem;
}
.c-page__box {
  display: none;
}
@media (min-width: 768px) {
  .c-page__box {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    border: 1px, solid, #707070;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
}
.c-page__count {
  display: none;
}
@media (min-width: 768px) {
  .c-page__count {
    height: 3.3rem;
    width: 7.3rem;
    display: flex;
    margin-right: 1.93rem;
    justify-content: center;
    align-items: center;
  }
}
.c-page__move-back {
  font-family: "M PLUS 1p";
  display: flex;
  height: 2.4rem;
  width: 3.2rem;
  font-weight: 400;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .c-page__move-back {
    display: none;
  }
}
.c-page__move-next {
  font-family: "M PLUS 1p";
  display: flex;
  height: 2.4rem;
  width: 3.2rem;
  font-weight: 400;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .c-page__move-next {
    display: none;
  }
}

.c-block {
  list-style: decimal inside;
}

.c-code {
  margin-top: -2.8rem;
  margin-bottom: -2.8rem;
}

.c-table {
  font-family: "M PLUS 1p";
  font-weight: 400;
  height: 7.7rem;
  width: 100%;
  position: relative;
  table-layout: fixed;
  font-size: 1.6rem;
  border: solid 1px #707070;
}
.c-table__heading {
  height: auto;
  width: 42%;
  font-weight: 400;
  position: relative;
  border: solid 1px #707070;
  text-align: left;
  padding-left: 6.9%;
}
@media (min-width: 768px) {
  .c-table__heading {
    padding-left: 4%;
  }
}
.c-table__data {
  height: auto;
  width: 58%;
  position: relative;
  border: solid 1px #707070;
  padding-left: 6.9%;
}
@media (min-width: 768px) {
  .c-table__data {
    padding-left: 4%;
  }
}

.p-access {
  position: relative;
  font-family: "M PLUS 1p";
  font-weight: bold;
  height: auto;
  width: auto;
  display: block;
}
.p-access__comment {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
@media (min-width: 1024px) {
  .p-access__comment {
    width: 61%;
  }
}
.p-access__comment:before {
  content: "";
  position: absolute;
  bottom: -5.05rem;
  display: inline-block;
  height: 61%;
  width: 100%;
  left: 0%;
  top: 0%;
  background: rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .p-access__comment:before {
    height: auto;
  }
}
.p-access__comment h2 {
  height: auto;
  width: auto;
  position: relative;
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: 2.9rem;
}
@media (min-width: 1024px) {
  .p-access__comment h2 {
    font-size: 3.6rem;
    margin-bottom: 10.9rem;
  }
}
.p-access__comment h2:before {
  content: "";
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 7.5rem;
  height: 0.2rem;
  justify-content: left;
  background-color: #FFFFFF;
}
@media (min-width: 1024px) {
  .p-access__comment h2:before {
    bottom: -50.5px;
  }
}
.p-access__comment p {
  height: auto;
  width: auto;
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 2;
}
@media (min-width: 1024px) {
  .p-access__comment p {
    font-size: 1.6rem;
  }
}

.p-branch-menu h3 {
  margin-top: 2.8rem;
  margin-left: 2.2rem;
  display: flex;
  flex-direction: column;
}
.p-branch-menu h3:before {
  content: "";
  position: absolute;
  bottom: -43px;
  display: inline-block;
  width: 6.3rem;
  height: 0.4rem;
  justify-content: left;
  background-color: #FFFFFF;
}
.p-branch-menu__takeout {
  background-image: url(../../../images/main__takeout.jpg);
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-branch-menu__eatin {
  background-image: url(../../../images/main__eatin.jpg);
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-menu {
  color: #707070;
  font-weight: 400;
  line-height: normal;
  display: block;
  position: relative;
  margin-bottom: 6rem;
}
@media (min-width: 768px) {
  .p-menu {
    margin-bottom: 4.8rem;
  }
}

.p-text {
  color: #3C2A10;
}

.p-card img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  display: flex;
  flex-direction: column;
}

.p-page {
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.6rem;
  color: #707070;
  margin: 15rem 2rem 6.4rem 2rem;
}
@media (min-width: 768px) {
  .p-page {
    justify-content: center;
  }
}

.p-blockquote__text {
  display: flex;
  flex-direction: column;
}

.p-article--1 img {
  height: auto;
  width: auto;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-article--2 img {
  height: auto;
  width: auto;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-list__area--A {
  margin-bottom: 5.7rem;
}

.p-code {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #3C2A10;
}

.p-table__area {
  height: auto;
  width: 100%;
  position: relative;
  border-collapse: collapse;
  margin-bottom: 6rem;
}

.p-button {
  display: flex;
  flex-direction: column;
}

.u-button__header {
  font-size: 2rem;
  height: 2.3rem;
  width: 5.1rem;
  margin: 0.8rem 0.8rem 0 auto;
}
@media (min-width: 768px) {
  .u-button__header {
    font-size: 3.4rem;
    height: 4rem;
    width: 8.7rem;
  }
}
@media (min-width: 1024px) {
  .u-button__header {
    display: none;
  }
}
.u-button__sidebar {
  display: none;
}
@media (min-width: 1024px) {
  .u-button__sidebar {
    display: block;
    position: relative;
    font-size: 3.4rem;
    height: 4rem;
    width: 8.7rem;
    margin: 8.4rem auto 9rem 0;
  }
}

.u-page__box {
  background-color: #3C2B1C;
  color: #FFFFFF;
  margin-left: 15px;
}

.u-text__ptag {
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .u-text__ptag {
    margin-top: 5.5rem;
  }
}
@media (min-width: 1024px) {
  .u-text__ptag {
    margin-top: 5.7rem;
  }
}
.u-text__blockquote {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.7rem;
}
@media (min-width: 768px) {
  .u-text__blockquote {
    margin-bottom: 6.1rem;
  }
}
.u-text__bold {
  font-weight: bold;
}
.u-text__small {
  height: 100%;
  width: 100%;
  display: flex;
  margin-inline: auto;
  font-size: 1.4rem;
}

.u-item__group {
  margin-bottom: 0;
}
.u-item__list {
  list-style-type: none;
  padding-left: inherit;
  margin-bottom: 1.7rem;
}
.u-item__sub {
  list-style-type: decimal;
}

.u-title__page {
  background-image: url(../../../images/main__title-page.jpg);
  background-color: rgb(217, 217, 217);
  background-blend-mode: normal;
}
/*# sourceMappingURL=style.css.map */