@use "../../foundation/" as *;
@use "sass:math";

.c-background {

    &__branch-menu {
        background-color: $color--white;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__title {
        width: 100%;
        height: 28.5rem;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;

        @include breakpoint(pc) {
            height: 53rem;
        }
    }

    &__category {
        width: 100%;
        height: auto;
        overflow: hidden;
        background-size: cover;
        background: rgba($color: $color--white, $alpha: 0.79);
        margin-bottom: 3.2%;
        display: flex;
        flex-direction: column;
    }

    &__map-all {
        width: auto;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
        margin-bottom: 0;
        left: 0%;
        top: 0%;
        background: rgba($color: $color--clearblack, $alpha: 0.4);
    }

    &__map-comment {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 2;
        margin-bottom: 0;

        @include breakpoint(pc) {
            width: 61%;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            display: inline-block;
            width: 100%;
            height: 61%;
            left: 0%;
            top: 0%;
            background: rgba($color: $color--clearblack, $alpha: 0.3);

            @include breakpoint(tablet) {
                height: auto;
            }
        }
    }

    &__archive {
        height: 28.5rem;
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url(../images/main__takeout.jpg);

        @include breakpoint(pc) {
            height: 23.9rem;
        }

        &-cover {
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            background: rgba($color: $color--clearblack, $alpha: 0.5);
        }
    }

    &__title-single {
        height: 28.5rem;
        width: auto;
        display: block;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-color: $color--lightgray;
        background-position: center;

        @include breakpoint(tablet) {
            height: 50.5rem;
        }
        
        @include breakpoint(pc) {
            height: 50rem;
        }
    }

    &__blockquote {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $color--clearcream;
    }

    &__code {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background: $color--clearcream;

        @include breakpoint(tablet) {
            height: auto;
        }
    }

    &__button {

        &__area {
            display: block;
        }

        &--parent {
            //height: 8.1rem;
            //width: 100%;
            //display: flex;
            //flex-direction: column;
            //position: relative;
            //background: $color--offWhite;
            height: auto;
            width: auto;
            border-radius: 20px;

            //@include breakpoint(tablet) {
                //height: 10.4rem;
                //width: 42.9rem;
            //}
        }

        &--child {
            //height: 8.1rem;
            //width: 100%;
            //display: flex;
            //flex-direction: column;
            //position: relative;
            //background: $color--pinkishgray;
            //mix-blend-mode: normal;
            //justify-content: center;
            //align-items: center;
            border-radius: 20px;
            height: auto;
            width: auto;
            border: 1px solid;

            //@include breakpoint(tablet) {
                //height: 10.4rem;
            //}
        }
    }

    &__footer {
        height: auto;
        width: auto;
        display: block;
        position: relative;
        overflow: hidden;
        background-image: url(../images/footer.png);
        background-repeat: repeat;
    }
}