@use "../../foundation/" as *;
@use "sass:math";

.c-button {
    width: auto;
    height: auto;
    display: block;
    position: relative;

    &__flex {
        @extend .c-button;
        display: flex;
        flex-direction: column;
    }

    &__home {
        @extend .c-button;
        display: flex;
        flex-direction: column;
        color: $color--gray;
        transform: translateY(-50%);
        top: 50%;
    }
    
    &__menu {
        color: $color--gray;
        font-weight: 700;
        position: relative;
    }

    &__hamburger {
        @extend .c-button;
        width: 32px;
        height: 36px;
        margin: 0.8rem 1.1rem 13.4rem auto;

        @include breakpoint(tablet) {
            height: 37px;
            margin: 2rem 2.5rem 12.1rem auto;
        }

        @include breakpoint(pc) {
            display: none;
        }

        &::before,
        &::after {
            content: "";
            background-color: $color--gray;
            position: absolute;
        }

        &::before,
        &::after,
        >span {
            width: $btnWidth;
            height: $btnHeight;
            display: block;
            font-size: 0;
            background-size: auto $btnHeight;
            left: calc( 50% - math.div(#{$btnWidth},2) );
            top: 50%;
            transition: transform 0.1s;
        }

        &.is-open {

            &::before {
                transform: rotate(-135deg);
                top: 20px;
            }

            &::after {
                transform: rotate(-45deg);
                top: 20px;
            }
        }
    }

    &__area {
        @extend .c-button__flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        a {
            @extend .c-button__flex;
            font-weight: 700;
            font-size: 1.6rem;
            text-decoration: none;
        }
    }
}