@use "../../foundation/" as *;

.c-card {
    font-family: "M PLUS 1p";
    font-weight: bold;
    height: 100%;
    width: 100%;
    background-color: $color--darkbrown;
    display: flex;
    flex-direction: column;

    &__title,
    &__title-sub,
    &__text,
    &__button-area,
    &__button {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        color: $color--white;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 5.9%;

        @include breakpoint(pc) {
            font-size: 3.6rem;
            margin-bottom: 9.3%;
        }    
    }

    &__tag {
        display: none;
    }

    &__title-sub {
        font-size: 1.6rem;
        margin-bottom: 1.9%; 

        @include breakpoint(pc) {
            font-size: 2.4rem;
            margin-bottom: 12.7%;
        }    
    }

    &__text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.49;
    }

    &__button-area {
        justify-content: center;
        align-items: center;
        color: revert;
    }

    &__button {
        height: 4.2rem;
        width: 16.3rem;
        color: $color--gray;
        background-color: $color--white;
        border-radius: 35px 35px 35px 35px;

        &:hover {
            background: rgba($color: $color--pinkishgray, $alpha: 0.9);
            color: $color--black;
        }

        @include breakpoint(pc) {
            height: 7.6rem;
            width: 29.2rem;
        }

        a {
            height: 100%;
            width: 100%;
            font-size: 1.6rem;
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            align-items: center;
            border-radius: 35px 35px 35px 35px;
        }
    }
}