@use "../../foundation/" as *;

.c-card {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $color--white;

    &__all {
        @extend .c-card;
        font-weight: 700;
        height: 100%;
        width: 100%;
        background-color: $color--darkbrown;
    }

    &__title {
        @extend .c-card;
        font-size: 2rem;
        margin-bottom: 5.9%;

        @include breakpoint(pc) {
            font-size: 3.6rem;
            margin-bottom: 9.3%;
        }    
    }

    &__tag {
        display: none;
    }

    &__title-sub {
        @extend .c-card;
        font-size: 1.6rem;
        margin-bottom: 1.9%; 

        @include breakpoint(pc) {
            font-size: 2.4rem;
            margin-bottom: 12.7%;
        }    
    }

    &__text {
        @extend .c-card;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.49;
    }

    &__button-area {
        @extend .c-card;
        justify-content: center;
        align-items: center;
        color: revert;
    }

    &__button {
        @extend .c-card;
        height: 4.2rem;
        width: 16.3rem;
        color: $color--gray;
        background-color: $color--white;
        border-radius: 35px 35px 35px 35px;

        &:hover {
            @media (hover: hover) {
                color: $color--black;
                background: rgba($color: $color--pinkishgray, $alpha: 0.9);
            }
    
            @media (hover: none) {
                color: inherit;
                background-color: $color--white;
            }
        }

        @include breakpoint(pc) {
            height: 7.6rem;
            width: 29.2rem;
        }

        a {
            @extend .c-card;
            height: 100%;
            width: 100%;
            font-size: 1.6rem;
            position: absolute;
            justify-content: center;
            align-items: center;
            color: inherit;
            border-radius: 35px 35px 35px 35px;
        }
    }
}