@use "../../foundation/" as *;

.c-category {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    color: $color--black;
    background-size: cover;
    position: relative;
    font-family: "M PLUS 1p";
    font-weight: 700;
    
    &:hover {
        @media (hover: hover) {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

        @media (hover: none) {
            color: inherit;
            text-decoration: none;
        }
    }

    h3 {
        @extend .c-category;
        color: $color--cream;
        display: inline-block;
        margin-bottom: 58%;
        font-size: 4.1rem;

        @include breakpoint(tablet) {
            font-size: 4.4rem;
        }

        @include breakpoint(pc) { 
            font-size: 8rem;    
        }
    }    

    dt {
        @extend .c-category;
        font-size: 2.2rem;

        @include breakpoint(tablet) {
            font-size: 2.4rem;
            margin-bottom: 1.6rem;
        }

        @include breakpoint(pc) {        
            margin-bottom: 1.8rem;   
        }
    }

    dd {
        @extend .c-category;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.7;
    }
}