@use "../../foundation/" as *;

.c-flexbox {

    &__header,
    &__search-form,
    &__branch-menu,
    &__footer,
    &__title,
    &__discription,
    &__container {
        display: flex;
        height: auto;
        width: auto;
    }

    &__header,
    &__branch-menu,
    &__title,
    &__discription,
    &__container,
    &__blockquote {
        flex-direction: column;
    }

    &__header {
        padding-left: 8.2%;
        padding-right: 6.9%;

        @include breakpoint(tablet) {
            padding-left: 17.2%;
            padding-right: 17.2%;
        }

        @include breakpoint(pc) {
            flex-direction: row;
            padding: inherit;
        }
    }

    &__search-form {
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;

        @include breakpoint(tablet) {
            width: 100%;
        }

        @include breakpoint(pc) {
            width: auto;
        }
    }
    
    &__branch-menu {
        flex-grow: 1;
        gap: 2rem;
        
        @include breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
            gap: 4.1rem;
        }

        @include breakpoint(pc) {     
            gap: 8rem;
        }
    }

    &__footer {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        margin-inline: auto;
        margin-bottom: 7rem;

        @include breakpoint(tablet) {
            margin-bottom: 4.4rem;
        }

        @include breakpoint(pc) {
            margin-bottom: 3.1rem;
        }
    }

    &__title {
        height: 100%;
        width: 100%;
        position: relative;
        margin-left: 3.7rem;
        justify-content: center;
    
        @include breakpoint(tablet) {
            flex-direction: inherit;
            justify-content: inherit;
            align-items: center;
            margin-left: 8.6rem;
        }
    
        @include breakpoint(pc) {
            margin-left: 8.6rem;
        }
    }

    &__discription {
        gap: 2.5rem;

        @include breakpoint(tablet) {
            gap: 2rem;
        }
    }

    &__page {
        display: flex;

        &-count {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-arrow {
            display: flex;
        }
    }

    &__blockquote {
        display: flex;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}