@use "../../foundation/" as *;

.c-flexbox {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;

    &--center {
        @extend .c-flexbox;
        justify-content: center;
        align-items: center;
    }

    &__header {
        @extend .c-flexbox;
        padding-left: 8.2%;
        padding-right: 6.9%;

        @include breakpoint(tablet) {
            padding-left: 17.2%;
            padding-right: 17.2%;
        }

        @include breakpoint(pc) {
            flex-direction: row;
            padding: inherit;
        }
    }

    &__search-form {
        @extend .c-flexbox--center;
        width: 100%;
        flex-direction: inherit;
        box-sizing: border-box;

        @include breakpoint(pc) {
            width: auto;
        }
    }
    
    &__branch-menu {
        @extend .c-flexbox;
        flex-grow: 1;
        gap: 2rem;
        
        @include breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
            gap: 4.1rem;
        }

        @include breakpoint(pc) {     
            gap: 8rem;
        }
    }

    &__footer {
        @extend .c-flexbox--center;
        height: 100%;
        width: 100%;
        flex-direction: revert;
        gap: 0.6rem;
        margin-inline: auto;
        margin-bottom: 7rem;

        @include breakpoint(tablet) {
            margin-bottom: 4.4rem;
        }

        @include breakpoint(pc) {
            margin-bottom: 3.1rem;
        }
    }

    &__title {
        @extend .c-flexbox;
        position: absolute;
        left: 9.86%;
        transform: translateY(-50%);
        top: 50%;
    
        @include breakpoint(tablet) {
            left: 10.31%;
            flex-direction: inherit;
            align-items: center; 
        }
    }

    &__discription {
        @extend .c-flexbox;
        gap: 2.5rem;

        @include breakpoint(tablet) {
            gap: 2rem;
        }
    }

    &__page {
        @extend .c-flexbox;

        &-count {
            @extend .c-flexbox--center;
        }

        &-arrow {
            @extend .c-flexbox;
        }
    }

    &__container {
        @extend .c-flexbox;
    }
    
    &__blockquote {
        @extend .c-flexbox;
    }

    &__img {
        @extend .c-flexbox--center;
    }
}