@use "../../foundation/" as *;

.c-footer-menu {
    font-family: "M PLUS 1p";
    font-weight: 400;
    height: auto;
    width: auto;
    display: block;
    font-size: 2rem;
    list-style: none;
    inline-size:fit-content;

        &:first-child {
        display: block;
        position: relative;
        padding-right: 10px;

            &:before {
                content: '';
                position: absolute;
                right: 1px;
                display: inline-block;
                width: 2px;
                height: 20px;
                background-color: $color--white;
                top: 53%;
                transform: translateY(-50%);
            }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    &__small {
        display: block;
        height: 2.1rem;
        font-size: 1.4rem;
    }
}