@use "../../foundation/" as *;

.c-grid {
    height: auto;
    width: auto;
    display: grid;

    &__body {
        height: 100%;
        width: 100%;
        display: block;
        min-height: 100%;

        @include breakpoint(pc) {
            display: grid;
            grid-template-rows: 217px 1fr 150px;
            grid-template-columns: 1fr 20vw;
        }
    }

    &__card {
        @extend .c-grid;
        grid-template-rows: 1fr 1fr;

        @include breakpoint(tablet) {
            grid-template-rows: 1fr;
            grid-template-columns: 50% 50%;
        }
    }

    &__article {
        @extend .c-grid;
        gap: 1rem;

        @include breakpoint(tablet) {
            gap: 2.1rem;
        }

        @include breakpoint(pc) {
            gap: 4rem;
        }

        &--1 {
            @extend .c-grid__article;
            grid-template-columns: 43% 1fr;
        }

        &--2 {
            @extend .c-grid__article;
            grid-template-columns: 1fr 43%;
        }
    }

    &__img {
        @extend .c-grid;;
        margin-inline: auto;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include breakpoint(tablet) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            column-gap: 1.6rem;
        }

        @include breakpoint(pc) {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
    }
}