@use "../../foundation/" as *;

.c-item {
    height: auto;
    width: auto;
    position: relative;

    &__sidebar {
        @extend .c-item;
        font-weight: 400;
        color: $color--gray;
        font-size: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;

        &:first-of-type {
            margin-top: 3.2rem;
        }
    }

    &__group {
        @extend .c-item;
        font-weight: 700;
        color: $color--black;
        display: block;

        p {
            font-weight: 400;
        }
    }

    &__sub {
        display: flex;
        flex-direction: column;
        margin: 1.7rem 0 0 1.8rem;
    }

    &__img {
        margin-inline: auto;
    }
}