@use "../../foundation/" as *;

.c-item {

    &__sidebar {
        font-family: "M PLUS 1p";
        font-weight: 400;
        color: $color--gray;
        height: auto;
        width: auto;
        position: relative;
        font-size: 0.83em;
        margin: 4rem auto 2rem 2rem;

        @include breakpoint(tablet) {
            margin: 3.2rem auto 2rem 2rem;
        }
    }

    &__group {
        font-family: "M PLUS 1p";
        font-weight: 700;
        height: auto;
        width: auto;
        color: $color--black;
        display: block;
        position: relative;
        //margin-bottom: 5.7rem;

        p {
            font-weight: 400;
        }
        
        /*h2 {
            font-size: 2.8rem;
    
            @include breakpoint(tablet) {
                font-size: 3.6rem;
            }
        }
    
        h3 {
            font-size: 2.4rem;
    
            @include breakpoint(tablet) {
                font-size: 2.8rem;
            }
        }
    
        h4, h5, h6 {
            font-size: 2rem;
        }*/
    }

    &__sub {
        display: flex;
        flex-direction: column;
        margin: 1.7rem 0 0 1.8rem;
    }

    &__img {
        margin-inline: auto;
    }
}