@use "../../foundation/" as *;

.c-search-form {
    height: 4.6rem;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $color--gray;
    border-radius: 10px 10px 10px 10px;

    &__keyword {
        @extend .c-search-form;
        width: 67.9%;
        background-color: $color--white;
        padding: 1rem 1rem 1rem 3.8rem;
        
        @include breakpoint(tablet) {
            width: 72.5%;
            padding: 1rem 1rem 1rem 4.9rem;
        }

        @include breakpoint(pc) {
            padding-left: 15.4%;
        }

        &:active {
            background-color: $color--white;
        }
        
        &:hover {
            @media (hover: hover) {
                background-color: $color--white;
            }
        }
    }

    &__submit {
        @extend .c-search-form;
        width: 28.3%;
        margin-left: 3.8%;
        color: $color--gray;
        background-color: $color--offWhite;
        min-width: 60px;

        @include breakpoint(tablet) {
            margin-left: 2.6%;
            width: 24.9%;
        }

        @include breakpoint(pc) {
            margin-left: 2.5%;
            width: 24.9%;
        }

        &:active {
            background: rgba($color: $color--gray, $alpha: 0.2);
        }
        
        &:hover {
            @media (hover: hover) {
                background: rgba($color: $color--gray, $alpha: 0.2);
            }
        }
    }
}