@use "../../foundation/" as *;

.c-search-form {
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    margin: 4rem auto 3.9rem auto;

    @include breakpoint(tablet) {
        margin: 4rem auto 3.8rem auto;
    }

    @include breakpoint(pc) {
        margin: 8.6rem 3.1rem 8.5rem auto;
    }

    &::before {
        content: "";
        height: 2.4rem;
        width: 2.4rem;
        background: url(../../../images/header__search-form.png) no-repeat center center;
        display: inline-block;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 0.9rem;

        @include breakpoint(tablet) {
            left: 1.2rem;
        }
        @include breakpoint(pc) {
            top: 50%;
        }
    }
    
    &__keyword {
        height: 4.6rem;
        width: 21.6rem;
        display: inline-block;
        border-radius: 10px 10px 10px 10px;
        background-color: $color--white;   
        border: 1px solid $color--gray;
        padding: 1rem 1rem 1rem 3.8rem;
        font-family: "M PLUS 1p";
        font-weight: bold;
        font-size: 1.6rem;
        color: $color--gray;
        
        @include breakpoint(tablet) {
            width: 39.6rem;
            padding: 1rem 1rem 1rem 4.9rem;
        }

        @include breakpoint(pc) {
            padding: 1rem 1rem 1rem 6.1rem;
        }
    }

    &__submit {
        height: 4.6rem;
        width: 9rem;
        margin-left: 1.6rem;
        display: inline-block;
        background-color: $color--offWhite;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid $color--gray;
        font-family: "M PLUS 1p";
        font-weight: bold;
        font-size: 1.6rem;
        color: $color--gray;

        @include breakpoint(tablet) {
            width: 13.6rem;
            margin-left: 1.4rem;
        }
    }
}