@use "../../foundation/" as *;

.c-table {
    font-family: "M PLUS 1p";
    font-weight: 400;
    height: 7.7rem;
    width: 100%;
    position: relative;
    table-layout: fixed;
    font-size: 1.6rem;
    border: solid 1px $color--gray;

    &__heading {
        height: auto;
        width: 42%;
        font-weight: 400;
        position: relative;
        border: solid 1px $color--gray;
        text-align: left;
        padding-left: 6.9%;

        @include breakpoint(tablet) {
            padding-left: 4%;
        }
    }

    &__data {
        height: auto;
        width: 58%;
        position: relative;
        border: solid 1px $color--gray;
        padding-left: 6.9%;

        @include breakpoint(tablet) {
            padding-left: 4%;
        }
    }
}