@use "../../foundation/" as *;

.c-title {
    &__header {
        font-family: "Roboto";
        color: $color--gray;
        font-weight: 700;
        font-size: 4rem;
        height: 4.7rem;
        width: 20.3rem;
        margin: 4.3rem auto 0 auto;

        @include breakpoint(tablet) {
            height: 5.3rem;
            margin: 4rem auto 0 auto;
        }

        @include breakpoint(pc) {
            font-size: 6.4rem;
            height: 7.5rem;
            width: 32.5rem;
            margin: 6.6rem 6.5rem 6.7rem 6.5rem;
        }
    }

    &__front {
        font-family: "M PLUS 1p";
        font-weight: bold;
        color: $color--white;
        height: auto;
        width: auto;
        position: relative;
        font-size: 3.6rem;
        margin: 12.2rem auto 11.1rem 2.5rem;

        @include breakpoint(pc) {
            font-size: 4rem;   
            margin: 23.4rem auto 23.7rem 8.6rem;
        }
    }

    &__archive {
        h2 {
            font-family: "Roboto";
            font-weight: 700;
            color: $color--white;
            height: 100%;
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;
            font-size: 3.6rem;

            @include breakpoint(tablet) {
                font-size: 6rem;
            }
        }

        &-sub {
            p {
                font-family: "M PLUS 1p";
                font-weight: 700;
                color: $color--white;
                height: 100%;
                width: 100%;
                display: flex;
                position: relative;
                align-items: center;
                font-size: 1.6rem;

                @include breakpoint(tablet) {
                    margin-left: 1.9rem;
                }
            }
        }
    }

    &__single {
        font-family: "M PLUS 1p";
        font-weight: 700;
        color: $color--white;
        height: auto;
        width: auto;
        position: absolute;
        font-size: 3.6rem;
        margin-left: 6.93%;

        @include breakpoint(tablet) {
            margin-left: 10.3%;
            font-size: 6rem;
        }

        @include breakpoint(pc) {
            margin-left: 5.53%;
        }
    }

    &__discription {
        font-family: "M PLUS 1p";
        font-weight: 700;
        height: auto;
        width: auto;
        color: $color--black;
        display: inline-block;
        position: relative;
        font-size: 2.8rem;
        margin-bottom: 2.5rem;

        @include breakpoint(tablet) {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }
    }
}