@use "../../foundation/" as *;

.c-title {
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: 3.6rem;
    color: $color--white;

    &__header {
        @extend .c-title;
        font-family: "Roboto";
        width: 20.3rem;
        height: 4.7rem;
        font-size: 4rem;
        color: $color--gray;
        margin: 4.3rem auto 0 auto;
        text-align: center;
        position: relative;

        @include breakpoint(tablet) {
            height: 5.3rem;
            margin: 4rem auto 0 auto;
        }

        @include breakpoint(pc) {
            width: 100%;
            height: 100%;
            position: relative;
            font-size: 6.4rem;
            margin: inherit;
        }
    }

    &__front {
        @extend .c-title;
        position: absolute;
        left: 6.66%;
        transform: translateY(-50%);
        top: 50%;

        @include breakpoint(tablet) {
            left: 10.31%;
        }

        @include breakpoint(pc) {
            left: 4.47%;
            font-size: 4rem;
        }
    }

    &__single {
        @extend .c-title;
        font-family: "M PLUS 1p";
        position: absolute;
        left: 6.93%;
        transform: translateY(-50%);
        top: 50%;

        @include breakpoint(tablet) {
            left: 10.3%;
            font-size: 6rem;
        }

        @include breakpoint(pc) {
            left: 4.47%;
        }
    }

    &__archive {
        @extend .c-title;
        font-family: "Roboto";
        position: relative;
        display: flex;
        align-items: center;
        
        @include breakpoint(tablet) {
            font-size: 6rem;
        }

        &-sub {
            @extend .c-title__archive;
            font-family: "M PLUS 1p";
            font-size: 1.6rem;

            @include breakpoint(tablet) {
                margin-left: 1.9rem;
                transform: translateY(0.5rem);
            }
        }
    }

    &__discription {
        @extend .c-title;
        font-family: "M PLUS 1p";
        font-size: 2.8rem;
        display: inline-block;
        position: relative;
        color: $color--black;
        margin-bottom: 2.5rem;

        @include breakpoint(tablet) {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }
    }
}