@use "../../foundation/" as *;

.u-button {
    &__header {
        font-size: 2rem;
        height: 2.3rem;
        width: 5.1rem;
        margin: 0.8rem 0.8rem 0 auto;

        @include breakpoint(tablet) {
            font-size: 3.4rem;
            height: 4rem;
            width: 8.7rem;
        }
    
        @include breakpoint(pc) {
            display: none;
        }
    }

    &__sidebar {
        display: none;
    
        @include breakpoint(pc) {
            display: block;
            position: relative;
            font-size: 3.4rem;
            height: 4rem;
            width: 8.7rem;
            margin: 8.4rem auto 9rem 0;
            cursor: inherit;
        }
    }
}