@use "../../foundation/" as *;

.u-item {

    &__group {
        margin-bottom: 0;
    }

    &__list {
        list-style-type: none;
        padding-left: inherit;
        margin-bottom: 1.7rem;
    }

    &__sub {
        list-style-type: decimal;
    }
}