@use "../../foundation/" as *;

.u-text{

    &__ptag {
        margin-top: 2.5rem;

        @include breakpoint(tablet) {
            margin-top: 5.5rem;
        }

        @include breakpoint(pc) {
            margin-top: 5.7rem;
        }
    }

    &__blockquote {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.7rem;

        @include breakpoint(tablet) {
            margin-bottom: 6.1rem;
        }
    }

    &__bold {
        font-weight: bold;
    }

    &__small {
        height: 100%;
        width: 100%;
        display: flex;
        margin-inline: auto;
        font-size: 1.4rem;
    }
}