@use "../../foundation/" as *;

.p-access {
    width: auto;
    height: auto;
    display: block;
    position: relative;
    font-family: "M PLUS 1p";
    font-weight: 700;

    &__map {
        @extend .p-access;
    }

    &__comment {

        h2 {
            @extend .p-access;
            color: $color--white;
            font-size: 3rem;
            margin-bottom: 2.9rem;
            z-index: 3;

            @include breakpoint(pc) {
                font-size: 3.6rem;
                margin-bottom: 10.9rem;
            }
        }

        h2::before {
            content: '';
            position: absolute;
            bottom: -15px;
            display: inline-block;
            width: 7.5rem;
            height: 0.2rem;
            justify-content: left;
            background-color: $color--white;
            z-index: 3;

            @include breakpoint(pc) {
                bottom: -50.5px;
            }
        }

        p {
            @extend .p-access;
            display: inline-block;
            color: $color--white;
            font-size: 1.4rem;
            line-height: 2;
            z-index: 3;

            @include breakpoint(pc) {
                font-size: 1.6rem;
            }
        }
    }
}