@use "../../foundation/" as *;

.p-branch-menu {
    height: auto;
    width: auto;
    display: block;

    h3 {
        margin-top: 2.8rem;
        margin-left: 2.2rem;
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
    }

    h3:before {
        content: '';
        position: absolute;
        bottom: -43px;
        display: inline-block;
        width: 6.3rem;
        height: 0.4rem;
        justify-content: left;
        background-color: $color--white;
    }

    &__takeout {
        @extend .p-branch-menu;
        width: 100%;
        object-fit: cover;
        background-image: url(../images/main__takeout.jpg);
    }

    &__eatin {      
        @extend .p-branch-menu;
        width: 100%;
        object-fit: cover;  
        background-image: url(../images/main__eatin.jpg);
    }
}