@use "../../foundation/" as *;

.p-card {
    font-family: "M PLUS 1p";
    font-weight: bold;
    height: auto;
    width: auto;
    background-color: $color--darkbrown;
    color: $color--white;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.08rem;

    @include breakpoint(tablet) {
        margin-bottom: 2.05rem;
    }
    
    @include breakpoint(pc) {
        margin-bottom: 3rem;
    }
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: flex;
        flex-direction: column;
        aspect-ratio: 677 / 471;
    } 
}