@use "../../foundation/" as *;

.p-search-form {
    height: auto;
    width: 100%;
    font-family: "M PLUS 1p";
    font-weight: 700;
    font-size: 1.6rem;
    color: $color--gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 4rem 0 3.8rem 0;

    @include breakpoint(pc) {
        width: auto;
        margin: 8.6rem 3.1rem 8.5rem auto;
    }

    &::before {
        content: "";
        height: 2.4rem;
        width: 2.4rem;
        background: url(../images/header__search-form.png) no-repeat center center;
        display: inline-block;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 5px;

        @include breakpoint(tablet) {
            left: 12px;
        }

        @include breakpoint(pc) {
            left: 1.2rem;
        }
    }
}