@use "../foundation/" as *;

.l-footer {
    color: $color--white;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    bottom: 0;
}