@use "../foundation/" as *;

.l-footer {
    grid-row: 3;
    grid-column: 1/3;
    color: $color--white;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}