@use "../foundation/" as *;

.l-header {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;

    &__nav {
        @extend .l-header;
        justify-content: space-around;
    }

    &__button {
        display: block;
        position: relative;
        margin-top: 46px;

        @include breakpoint(sp600) {
            margin-top: inherit;
        }

        h2 {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }

    &__title {
        @extend .l-header;
    }
}