@use "../foundation/" as *;

.l-header {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color--ivory;

    @include breakpoint(pc) {
        grid-row: 1;
        grid-column: 1;
    }

    &__nav {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__button {
        display: block;
        position: relative;

        h2 {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }

    &__title {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
        }
    }
}