@use "../foundation/" as *;

.l-main {
    position: relative;
    height: auto;
    width: auto;
    display: block;

    &__title {
        @extend .l-main;
    }

    &__contents {
        @extend .l-main;
    }

    &__access {
        @extend .l-main;
    }
}